Repository businessintelli/unbanked-5heqpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @security-team, @devops-team, @backend-team, @banking-team, @crypto-team, @frontend-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/monitoring/main.tf
  infrastructure/terraform/modules/monitoring/main.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/monitoring/outputs.tf
  infrastructure/terraform/modules/monitoring/outputs.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/monitoring/variables.tf
  infrastructure/terraform/modules/monitoring/variables.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/networking/main.tf
  infrastructure/terraform/modules/networking/main.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/networking/outputs.tf
  infrastructure/terraform/modules/networking/outputs.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/networking/variables.tf
  infrastructure/terraform/modules/networking/variables.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/src/backend/.env.example
  src/backend/.env.example
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/.eslintrc.ts
  src/backend/.eslintrc.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/.prettierrc
  src/backend/.prettierrc
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/README.md
  src/backend/README.md
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/package.json
  src/backend/package.json
Owners: @core-team, @devops-team

Add public-samples/unbanked-5heqpp/src/backend/tsconfig.json
  src/backend/tsconfig.json
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/vitest.config.ts
  src/backend/vitest.config.ts
Owners: @core-team, @devops-team

Add public-samples/unbanked-5heqpp/src/backend/functions/auth/login.ts
  src/backend/functions/auth/login.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/auth/mfa.ts
  src/backend/functions/auth/mfa.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/auth/register.ts
  src/backend/functions/auth/register.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/auth/verify-kyc.ts
  src/backend/functions/auth/verify-kyc.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/banking/create-wallet.ts
  src/backend/functions/banking/create-wallet.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/banking/get-balance.ts
  src/backend/functions/banking/get-balance.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/banking/plaid-link.ts
  src/backend/functions/banking/plaid-link.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/banking/transaction-history.ts
  src/backend/functions/banking/transaction-history.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/banking/transfer.ts
  src/backend/functions/banking/transfer.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/crypto/create-wallet.ts
  src/backend/functions/crypto/create-wallet.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/crypto/exchange.ts
  src/backend/functions/crypto/exchange.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/crypto/get-balance.ts
  src/backend/functions/crypto/get-balance.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/crypto/price-feed.ts
  src/backend/functions/crypto/price-feed.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/crypto/transaction-history.ts
  src/backend/functions/crypto/transaction-history.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/profile/get-profile.ts
  src/backend/functions/profile/get-profile.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/profile/kyc-status.ts
  src/backend/functions/profile/kyc-status.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/profile/update-profile.ts
  src/backend/functions/profile/update-profile.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/webhooks/crypto-webhook.ts
  src/backend/functions/webhooks/crypto-webhook.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/webhooks/kyc-webhook.ts
  src/backend/functions/webhooks/kyc-webhook.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/functions/webhooks/plaid-webhook.ts
  src/backend/functions/webhooks/plaid-webhook.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/auth/jwt.ts
  src/backend/lib/auth/jwt.ts
Owners: @security-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/auth/kyc.ts
  src/backend/lib/auth/kyc.ts
Owners: @security-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/auth/mfa.ts
  src/backend/lib/auth/mfa.ts
Owners: @security-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/banking/plaid.ts
  src/backend/lib/banking/plaid.ts
Owners: @banking-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/banking/transactions.ts
  src/backend/lib/banking/transactions.ts
Owners: @banking-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/banking/wallets.ts
  src/backend/lib/banking/wallets.ts
Owners: @banking-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/common/cache.ts
  src/backend/lib/common/cache.ts
Owners: @backend-team

.github/CODEOWNERS:

# Default ownership - Core team reviews all unspecified files
* @core-team

# Security-sensitive code ownership
.github/workflows/security.yml @security-team
src/**/security.ts @security-team
src/**/auth/ @security-team
infrastructure/terraform/ @devops-team @security-team
infrastructure/kubernetes/ @devops-team @security-team

# Backend code ownership
src/backend/ @backend-team
src/backend/lib/auth/ @security-team @backend-team
src/backend/lib/banking/ @banking-team @backend-team
src/backend/lib/crypto/ @crypto-team @backend-team

# Frontend code ownership
src/web/ @frontend-team
src/web/src/components/auth/ @security-team @frontend-team
src/web/src/components/banking/ @banking-team @frontend-team
src/web/src/components/crypto/ @crypto-team @frontend-team

# Infrastructure and workflow ownership
infrastructure/ @devops-team
.github/workflows/ @devops-team

# CI/CD workflow specific ownership
.github/workflows/backend.yml @backend-team @devops-team
.github/workflows/web.yml @frontend-team @devops-team

# Documentation ownership
docs/ @core-team @backend-team @frontend-team

# Configuration files ownership
*.config.js @core-team @devops-team
*.config.ts @core-team @devops-team
package.json @core-team @devops-team
