Repository businessintelli/unbanked-5heqpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @security-team, @devops-team, @backend-team, @banking-team, @crypto-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/common/errors.ts
  src/backend/lib/common/errors.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/common/logger.ts
  src/backend/lib/common/logger.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/common/security.ts
  src/backend/lib/common/security.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/common/validation.ts
  src/backend/lib/common/validation.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/crypto/exchange.ts
  src/backend/lib/crypto/exchange.ts
Owners: @crypto-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/crypto/prices.ts
  src/backend/lib/crypto/prices.ts
Owners: @crypto-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/lib/crypto/wallets.ts
  src/backend/lib/crypto/wallets.ts
Owners: @crypto-team, @backend-team

Add public-samples/unbanked-5heqpp/src/backend/migrations/00000000000000_initial_schema.sql
  src/backend/migrations/00000000000000_initial_schema.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/migrations/00000000000001_auth_schema.sql
  src/backend/migrations/00000000000001_auth_schema.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/migrations/00000000000002_banking_schema.sql
  src/backend/migrations/00000000000002_banking_schema.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/migrations/00000000000003_crypto_schema.sql
  src/backend/migrations/00000000000003_crypto_schema.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/migrations/00000000000004_audit_schema.sql
  src/backend/migrations/00000000000004_audit_schema.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/openapi/auth.yaml
  src/backend/openapi/auth.yaml
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/openapi/banking.yaml
  src/backend/openapi/banking.yaml
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/openapi/crypto.yaml
  src/backend/openapi/crypto.yaml
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/openapi/profile.yaml
  src/backend/openapi/profile.yaml
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/policies/auth.policy.sql
  src/backend/policies/auth.policy.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/policies/banking.policy.sql
  src/backend/policies/banking.policy.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/policies/crypto.policy.sql
  src/backend/policies/crypto.policy.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/policies/profile.policy.sql
  src/backend/policies/profile.policy.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/supabase/config.toml
  src/backend/supabase/config.toml
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/supabase/seed.sql
  src/backend/supabase/seed.sql
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/auth/login.test.ts
  src/backend/tests/auth/login.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/auth/mfa.test.ts
  src/backend/tests/auth/mfa.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/auth/register.test.ts
  src/backend/tests/auth/register.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/banking/transactions.test.ts
  src/backend/tests/banking/transactions.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/banking/wallets.test.ts
  src/backend/tests/banking/wallets.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/common/security.test.ts
  src/backend/tests/common/security.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/common/validation.test.ts
  src/backend/tests/common/validation.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/crypto/exchange.test.ts
  src/backend/tests/crypto/exchange.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/crypto/wallets.test.ts
  src/backend/tests/crypto/wallets.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/tests/profile/kyc.test.ts
  src/backend/tests/profile/kyc.test.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/types/auth.ts
  src/backend/types/auth.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/types/banking.ts
  src/backend/types/banking.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/types/common.ts
  src/backend/types/common.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/types/crypto.ts
  src/backend/types/crypto.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/backend/types/profile.ts
  src/backend/types/profile.ts
Owners: @backend-team

Add public-samples/unbanked-5heqpp/src/web/.env.example
  src/web/.env.example
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/.eslintrc.ts
  src/web/.eslintrc.ts
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/.prettierrc
  src/web/.prettierrc
Owners: @frontend-team

.github/CODEOWNERS:

# Default ownership - Core team reviews all unspecified files
* @core-team

# Security-sensitive code ownership
.github/workflows/security.yml @security-team
src/**/security.ts @security-team
src/**/auth/ @security-team
infrastructure/terraform/ @devops-team @security-team
infrastructure/kubernetes/ @devops-team @security-team

# Backend code ownership
src/backend/ @backend-team
src/backend/lib/auth/ @security-team @backend-team
src/backend/lib/banking/ @banking-team @backend-team
src/backend/lib/crypto/ @crypto-team @backend-team

# Frontend code ownership
src/web/ @frontend-team
src/web/src/components/auth/ @security-team @frontend-team
src/web/src/components/banking/ @banking-team @frontend-team
src/web/src/components/crypto/ @crypto-team @frontend-team

# Infrastructure and workflow ownership
infrastructure/ @devops-team
.github/workflows/ @devops-team

# CI/CD workflow specific ownership
.github/workflows/backend.yml @backend-team @devops-team
.github/workflows/web.yml @frontend-team @devops-team

# Documentation ownership
docs/ @core-team @backend-team @frontend-team

# Configuration files ownership
*.config.js @core-team @devops-team
*.config.ts @core-team @devops-team
package.json @core-team @devops-team
