Repository businessintelli/unbanked-5heqpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @security-team, @devops-team, @backend-team, @banking-team, @crypto-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/README.md
  src/web/README.md
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/index.html
  src/web/index.html
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/package.json
  src/web/package.json
Owners: @core-team, @devops-team

Add public-samples/unbanked-5heqpp/src/web/postcss.config.ts
  src/web/postcss.config.ts
Owners: @core-team, @devops-team

Add public-samples/unbanked-5heqpp/src/web/tailwind.config.ts
  src/web/tailwind.config.ts
Owners: @core-team, @devops-team

Add public-samples/unbanked-5heqpp/src/web/tsconfig.json
  src/web/tsconfig.json
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/vite.config.ts
  src/web/vite.config.ts
Owners: @core-team, @devops-team

Add public-samples/unbanked-5heqpp/src/web/vitest.config.ts
  src/web/vitest.config.ts
Owners: @core-team, @devops-team

Add public-samples/unbanked-5heqpp/src/web/src/App.tsx
  src/web/src/App.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/main.tsx
  src/web/src/main.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/vite-env.d.ts
  src/web/src/vite-env.d.ts
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/assets/fonts/inter-var.woff2
  src/web/src/assets/fonts/inter-var.woff2
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/assets/images/logo-dark.svg
  src/web/src/assets/images/logo-dark.svg
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/assets/images/logo.svg
  src/web/src/assets/images/logo.svg
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/auth/KYCForm.tsx
  src/web/src/components/auth/KYCForm.tsx
Owners: @security-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/auth/LoginForm.tsx
  src/web/src/components/auth/LoginForm.tsx
Owners: @security-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/auth/MFAForm.tsx
  src/web/src/components/auth/MFAForm.tsx
Owners: @security-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/auth/RegisterForm.tsx
  src/web/src/components/auth/RegisterForm.tsx
Owners: @security-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/banking/PlaidLink.tsx
  src/web/src/components/banking/PlaidLink.tsx
Owners: @banking-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/banking/TransactionList.tsx
  src/web/src/components/banking/TransactionList.tsx
Owners: @banking-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/banking/TransferForm.tsx
  src/web/src/components/banking/TransferForm.tsx
Owners: @banking-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/banking/WalletCard.tsx
  src/web/src/components/banking/WalletCard.tsx
Owners: @banking-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Button.tsx
  src/web/src/components/common/Button.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Card.tsx
  src/web/src/components/common/Card.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Dialog.tsx
  src/web/src/components/common/Dialog.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Dropdown.tsx
  src/web/src/components/common/Dropdown.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Input.tsx
  src/web/src/components/common/Input.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Loading.tsx
  src/web/src/components/common/Loading.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Notification.tsx
  src/web/src/components/common/Notification.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Table.tsx
  src/web/src/components/common/Table.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/common/Tabs.tsx
  src/web/src/components/common/Tabs.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/crypto/ExchangeForm.tsx
  src/web/src/components/crypto/ExchangeForm.tsx
Owners: @crypto-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/crypto/PriceChart.tsx
  src/web/src/components/crypto/PriceChart.tsx
Owners: @crypto-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/crypto/TransactionList.tsx
  src/web/src/components/crypto/TransactionList.tsx
Owners: @crypto-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/crypto/WalletCard.tsx
  src/web/src/components/crypto/WalletCard.tsx
Owners: @crypto-team, @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/layout/AppShell.tsx
  src/web/src/components/layout/AppShell.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/layout/Footer.tsx
  src/web/src/components/layout/Footer.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/layout/Header.tsx
  src/web/src/components/layout/Header.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/layout/Navigation.tsx
  src/web/src/components/layout/Navigation.tsx
Owners: @frontend-team

Add public-samples/unbanked-5heqpp/src/web/src/components/layout/Sidebar.tsx
  src/web/src/components/layout/Sidebar.tsx
Owners: @frontend-team

.github/CODEOWNERS:

# Default ownership - Core team reviews all unspecified files
* @core-team

# Security-sensitive code ownership
.github/workflows/security.yml @security-team
src/**/security.ts @security-team
src/**/auth/ @security-team
infrastructure/terraform/ @devops-team @security-team
infrastructure/kubernetes/ @devops-team @security-team

# Backend code ownership
src/backend/ @backend-team
src/backend/lib/auth/ @security-team @backend-team
src/backend/lib/banking/ @banking-team @backend-team
src/backend/lib/crypto/ @crypto-team @backend-team

# Frontend code ownership
src/web/ @frontend-team
src/web/src/components/auth/ @security-team @frontend-team
src/web/src/components/banking/ @banking-team @frontend-team
src/web/src/components/crypto/ @crypto-team @frontend-team

# Infrastructure and workflow ownership
infrastructure/ @devops-team
.github/workflows/ @devops-team

# CI/CD workflow specific ownership
.github/workflows/backend.yml @backend-team @devops-team
.github/workflows/web.yml @frontend-team @devops-team

# Documentation ownership
docs/ @core-team @backend-team @frontend-team

# Configuration files ownership
*.config.js @core-team @devops-team
*.config.ts @core-team @devops-team
package.json @core-team @devops-team
