Repository businessintelli/unbanked-5heqpp, changes with the owners that .github/CODEOWNERS names for each.
All owners: @core-team, @security-team, @devops-team, @backend-team, @banking-team, @crypto-team, @frontend-team

.github/CODEOWNERS:

# Default ownership - Core team reviews all unspecified files
* @core-team

# Security-sensitive code ownership
.github/workflows/security.yml @security-team
src/**/security.ts @security-team
src/**/auth/ @security-team
infrastructure/terraform/ @devops-team @security-team
infrastructure/kubernetes/ @devops-team @security-team

# Backend code ownership
src/backend/ @backend-team
src/backend/lib/auth/ @security-team @backend-team
src/backend/lib/banking/ @banking-team @backend-team
src/backend/lib/crypto/ @crypto-team @backend-team

# Frontend code ownership
src/web/ @frontend-team
src/web/src/components/auth/ @security-team @frontend-team
src/web/src/components/banking/ @banking-team @frontend-team
src/web/src/components/crypto/ @crypto-team @frontend-team

# Infrastructure and workflow ownership
infrastructure/ @devops-team
.github/workflows/ @devops-team

# CI/CD workflow specific ownership
.github/workflows/backend.yml @backend-team @devops-team
.github/workflows/web.yml @frontend-team @devops-team

# Documentation ownership
docs/ @core-team @backend-team @frontend-team

# Configuration files ownership
*.config.js @core-team @devops-team
*.config.ts @core-team @devops-team
package.json @core-team @devops-team

Add public-samples/unbanked-5heqpp/.github/PULL_REQUEST_TEMPLATE.md
  .github/PULL_REQUEST_TEMPLATE.md
Owners: @core-team

Add public-samples/unbanked-5heqpp/.github/ISSUE_TEMPLATE/bug_report.md
  .github/ISSUE_TEMPLATE/bug_report.md
Owners: @core-team

Add public-samples/unbanked-5heqpp/.github/ISSUE_TEMPLATE/feature_request.md
  .github/ISSUE_TEMPLATE/feature_request.md
Owners: @core-team

Add public-samples/unbanked-5heqpp/.github/workflows/backend.yml
  .github/workflows/backend.yml
Owners: @backend-team, @devops-team

Add public-samples/unbanked-5heqpp/.github/workflows/release.yml
  .github/workflows/release.yml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/.github/workflows/security.yml
  .github/workflows/security.yml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/.github/workflows/web.yml
  .github/workflows/web.yml
Owners: @frontend-team, @devops-team

Add public-samples/unbanked-5heqpp/documentation/Input Prompt.md
  documentation/Input Prompt.md
Owners: @core-team

Add public-samples/unbanked-5heqpp/documentation/Product Requirements Document (PRD).md
  documentation/Product Requirements Document (PRD).md
Owners: @core-team

Add public-samples/unbanked-5heqpp/documentation/Project Guide.md
  documentation/Project Guide.md
Owners: @core-team

Add public-samples/unbanked-5heqpp/documentation/Technical Specifications.md
  documentation/Technical Specifications.md
Owners: @core-team

Add public-samples/unbanked-5heqpp/infrastructure/docker/backend.Dockerfile
  infrastructure/docker/backend.Dockerfile
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/docker/docker-compose.yml
  infrastructure/docker/docker-compose.yml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/docker/web.Dockerfile
  infrastructure/docker/web.Dockerfile
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/kubernetes/backend-deployment.yaml
  infrastructure/kubernetes/backend-deployment.yaml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/kubernetes/backend-service.yaml
  infrastructure/kubernetes/backend-service.yaml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/kubernetes/configmap.yaml
  infrastructure/kubernetes/configmap.yaml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/kubernetes/ingress.yaml
  infrastructure/kubernetes/ingress.yaml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/kubernetes/secrets.yaml
  infrastructure/kubernetes/secrets.yaml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/kubernetes/web-deployment.yaml
  infrastructure/kubernetes/web-deployment.yaml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/kubernetes/web-service.yaml
  infrastructure/kubernetes/web-service.yaml
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/scripts/backup.sh
  infrastructure/scripts/backup.sh
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/scripts/deploy.sh
  infrastructure/scripts/deploy.sh
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/scripts/monitoring.sh
  infrastructure/scripts/monitoring.sh
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/scripts/security.sh
  infrastructure/scripts/security.sh
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/backend.tf
  infrastructure/terraform/backend.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/main.tf
  infrastructure/terraform/main.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/outputs.tf
  infrastructure/terraform/outputs.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/providers.tf
  infrastructure/terraform/providers.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/variables.tf
  infrastructure/terraform/variables.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/environments/production/main.tf
  infrastructure/terraform/environments/production/main.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/environments/production/terraform.tfvars
  infrastructure/terraform/environments/production/terraform.tfvars
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/environments/staging/main.tf
  infrastructure/terraform/environments/staging/main.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/environments/staging/terraform.tfvars
  infrastructure/terraform/environments/staging/terraform.tfvars
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/cache/main.tf
  infrastructure/terraform/modules/cache/main.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/cache/outputs.tf
  infrastructure/terraform/modules/cache/outputs.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/cache/variables.tf
  infrastructure/terraform/modules/cache/variables.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/database/main.tf
  infrastructure/terraform/modules/database/main.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/database/outputs.tf
  infrastructure/terraform/modules/database/outputs.tf
Owners: @devops-team

Add public-samples/unbanked-5heqpp/infrastructure/terraform/modules/database/variables.tf
  infrastructure/terraform/modules/database/variables.tf
Owners: @devops-team
